/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2018, 15:34:20
    Author     : Etudiant
*/


.agileits-feedback-grids{
    background:transparent !important;
    height:300px;
}
.img_equipe{
    min-height: 160px;
    max-height: 160px;
}
.team_up_titre{
    font-size:0.3em;
}
.nav_non_connecte{
  margin-top: 52px;
}
.thumbnail{
    min-height:160px;
}

@media (max-width: 991px){
.navbar-nav > li {
    margin: 0 1.3em;
}
}
/*
.feedback-top{
    background-color: rgba(8, 90, 242, 0.65);
    position: ;
}

.feedback-top:after{
    border-top: 9px solid rgba(8, 90, 242, 0.65);
}*/

#actions{
    width: 18% !important;
}

.logo_fff{
    width:10%;
}
/*
.feedback-info{
    margin: 1em !important;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 8px black;
    background-color: #fff;
}
.feedback-img-info{
    width: 100%;
}
.feedback-img-info h5{
    color: black;
}
.feedback-img-info p{
    color:red;
}
.agileits-feedback-grids{
     background: rgba(17, 18, 16, 0.13);
     border-radius: 10px;
}*/
.index_admin{
        color: #99bc59;
        font-size: 4em;
        margin-top: 25px;
        margin-bottom: 15px;
}
.fleche_bas{
    font-size:4em;
    color:white;
}
/* blocs page accueil inscrivez-vous*/


.liste{
    list-style: none;
    color: white;
}
.lien_accueil{
    color: #a8f644;
}
.lien_accueil:hover{
    color:white;
}
.banner-text h2{
    margin-top: -120px;
}
.alert{
    font-size: 1em;
}
.bouton{
    margin-top: 25px;
}
h1{
    font-size: 22px;
}
legend{
    font-size: 18px;
    color : dodgerblue;
}

.hauteur_min{
    min-height: 500px;
    margin:0;
}   

.carte{
    height:300px;
}
.erreur{
    margin-top: 25px;
}
.footer{
    margin-top:50px;
}




/*-----Partie rencontres calendrier par équipe route provisoire "@/rencontres"" --------------*/

@media (min-width: 996px){
.creer_saison{
    margin-left: 18em;
}
}

/*-----Partie rencontres calendrierpar équipe route provisoire "@/rencontres"" --------------*/


/* Léger décalage bouton d'affichage victoires nuls défaites */
.resultat_rencontres_btn {
    margin-left: 15px;
}


/* div cachant les boutons */
.div_btn_filtrage {
    display: none;
    margin-top: 6px;
}

/* Pour cacher et faire apparaître les boutons */
.cacher {
    display: none;
}


/* ------------Surcharge footer--------------------*/

.hauteur_min {
    min-height: 300px;
}

.footer{
    background: url("../images/herbe-verte-artificielle.jpg");
}


.blocOpaque { /* Astuce de création d'un bloc à 60% opaque à l'image de fond */
  height:100%;
  background-color:rgba(0,0,255,0.10);
}

.w3layouts_footer_grid h2 span, .w3layouts_footer_grid h3 span{
        color: #1dd1a1;
        font-weight: bold;
}

.w3layouts_footer_grid p {
        color: #fff;
        font-size: 1.1em;
        font-weight: bold;
}
ul.con_inner_text li,ul.con_inner_text li label, ul.con_inner_text li a{
    color: #fff;
}

#inputmail::placeholder {
  color:#c8d6e5;
}

.f-bg-w3l {
    background: #747d8c;
    padding: 5em 0;
}

.hauteur_min {
    min-height: 500px;
    background: #fff;
}
 
/* Fin surcharge footer */

@media (max-width: 480px){
.agileits-logo h1 {
    font-size: 2.3em;
    margin-bottom: 15px;
}
.agileits-logo h1 a {
    padding:.5em;
}
.bouton_club{
    margin-left: 35px;
}
h3{
    font-size: 1.3em;
}
}



/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2018, 15:34:20
    Author     : Etudiant
*/

.liste{
    list-style: none;
    color: white;
}
.lien_accueil{
    color: #a8f644;
}
.lien_accueil:hover{
    color:white;
}
.banner-text h2{
    margin-top: -120px;
}
.alert{
    font-size: 1em;
}
.bouton{
    margin-top: 25px;
}
h1{
    font-size: 22px;
}
legend{
    font-size: 18px;
    color : dodgerblue;
}

.nom_club{
    color: white;
}
.btn-info{
    margin-top: -23px;
    border-color: white;
    background-color: #11162759;
}
.banner-text.agileinfo{
    padding: 15em 0;
}
.hauteur_min{
    min-height: 500px;
}
.utilisateur{
    color:white;
}
.connecte{
    color:white;
}
.navbar-inverse{
    margin-bottom: 0;
}
.header{
    padding: 5em 0 5em;
}
.header-nav ul.nav.navbar-nav{
    margin-top: 2em;
}
.titre{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:black;
}
.form-control.perso{
    border: 1px solid;
}
.nom-equipe{
    color: black;
}
.nom-entraineur{
    margin-bottom: 10px;
}
#contact_message{
    height:241px;
}
.carte{
    height:300px;
}
.erreur{
    margin-top: 25px;
}
.error{
    color:red;
    float: left;
}
.footer{
    margin-top:50px;
}



/* Léger décalage bouton d'affichage victoires nuls défaites */
.resultat_rencontres_btn {
    margin-left: 15px;
}

.div_btn_filtrage {
    display: none;
    margin-top: 6px;
}

modif des titres en blanc pour visibilité
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.feedback-img-info h5 {
    color: white;
}

/*mise en forme jumbotron*/
.container-fluid .jumbotron {
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    text-align: center;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2018, 15:34:20
    Author     : Etudiant
*/
@media (max-width: 991px){
.navbar-nav > li {
    margin: 0 1.3em;
}
}

.logo_fff{
    width:10%;
}/*
.feedback-img-info p.domicile{
    color:blue;
}
.feedback-img-info h5{
    color: black;
}
.feedback-img-info p{
    color:red;
}
.agileits-feedback-grids{
     background: rgba(153, 188, 89, 0.24);
     border-radius: 10px;
}*/
.index_admin{
        color: #99bc59;
        font-size: 4em;
}
.fleche_bas{
    font-size:4em;
    color:white;
}
.clr2{
    min-height: 308px;
}
.clr3{
    max-height: 308px;
}
.liste{
    list-style: none;
    color: white;
}
.lien_accueil{
    color: #a8f644;
}
.lien_accueil:hover{
    color:white;
}
.banner-text h2{
    margin-top: -120px;
}
.alert{
    font-size: 1em;
}
.bouton{
    margin-top: 25px;
}
h1,h2{
    font-size: 22px;
        color: #000;
}
legend{
    font-size: 18px;
    color : dodgerblue;
}


.nom_club{
    color: white;
}
.btn-info{

    margin-top: -23px;
    border-color: white;
    background-color: #11162759;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2018, 15:34:20
    Author     : Etudiant
*/
@media (max-width: 991px){
.navbar-nav > li {
    margin: 0 1.3em;
}
}
/*
.feedback-top{
    background: #4c5056;
    
}

.feedback-top:after{
    border-top: 9px solid ;
}*/

#actions{
    width: 18% !important;
}

.logo_fff{
    width:10%;
}
/*.feedback-info{
    margin: 1em !important;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 8px black;
    background-color: #747d8c;
}
.feedback-img-info{
    width: 100%;
}
.feedback-img-info h5{
    color: black;
}
.feedback-img-info p{
    color:red;
}
.agileits-feedback-grids{
     background: rgba(17, 18, 16, 0.13);
     border-radius: 10px;
}*/
.index_admin{
        color: #99bc59;
        font-size: 4em;
}
.fleche_bas{
    font-size:4em;
    color:white;
}
/* blocs page accueil inscrivez-vous*/
.clr1,.clr2,.clr3 {
    min-height: 361px;
    max-height: 450px;
}

.liste{
    list-style: none;
    color: white;
}
.lien_accueil{
    color: #a8f644;
}
.lien_accueil:hover{
    color:white;
}
.banner-text h2{
    margin-top: -120px;
}
.alert{
    font-size: 1em;
}
.bouton{
    margin-top: 25px;
}
h1{
    font-size: 22px;
}
legend{
    font-size: 18px;
    color : dodgerblue;
}

.hauteur_min{
    min-height: 500px;
    margin:0;
}   

.carte{
    height:300px;
}
.erreur{
    margin-top: 25px;
}
.footer{
    margin-top:50px;
}






@media (min-width: 996px){
.creer_saison{
    margin-left: 18em;
}
}

/*-----Partie rencontres calendrier par équipe route provisoire "@/rencontres/fiche --------------*/



/* div cachant les boutons */
.div_btn_filtrage {
    display: none;
    margin-top: 6px;
}

/* Pour cacher et faire apparaître les boutons */
.cacher {
    display: none;
}


/* ------------Surcharge footer--------------------*/

.hauteur_min {
    min-height: 300px;
}

.footer{
    background: #747d8c;
}


.blocOpaque { /* Astuce de création d'un bloc à 60% opaque à l'image de fond */
  height:100%;
  background-color:rgba(0,0,255,0.10);
}

.w3layouts_footer_grid h2 span, .w3layouts_footer_grid h3 span{
        color: #1dd1a1;
        font-weight: bold;
}

.w3layouts_footer_grid p {
        color: #fff;
        font-size: 1.1em;
        font-weight: bold;
}
ul.con_inner_text li,ul.con_inner_text li label, ul.con_inner_text li a{
    color: #fff;
}

#inputmail::placeholder {
  color:#c8d6e5;
}

.f-bg-w3l {
    background: #747d8c;
    padding: 5em;
}

.hauteur_min {
    min-height: 500px;
    background: #fff;
}
 
/* Fin surcharge footer */

@media (max-width: 480px){
.agileits-logo h1 {
    font-size: 2.3em;
    margin-bottom: 15px;
}
.agileits-logo h1 a {
    padding:.5em;
}
.bouton_club{
    margin-left: 35px;
}
h3{
    font-size: 1.3em;
}
}



/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2018, 15:34:20
    Author     : Etudiant
*/

.liste{
    list-style: none;
    color: white;
}
.lien_accueil{
    color: #a8f644;
}
.lien_accueil:hover{
    color:white;
}
.banner-text h2{
    margin-top: -120px;
}
.alert{
    font-size: 1em;
}
.bouton{
    margin-top: 25px;
}
h1{
    font-size: 22px;
    color: #000;
}
legend{
    font-size: 18px;
    color : dodgerblue;
}

.nom_club{
    color: white;
}
.btn-info{
    margin-top: -23px;
    border-color: white;
    background-color: #11162759;
}
.banner-text.agileinfo{
    padding: 15em 0;
}
.hauteur_min{
    min-height: 500px;
}
.utilisateur{
    color:white;
}
.connecte{
    color:white;
}
.navbar-inverse{
    margin-bottom: 0;
}
.header{
    padding: 5em 0 5em;
}
.header-nav ul.nav.navbar-nav{
    margin-top: 2em;
}
.titre{
    margin-top: 20px;
    margin-bottom: 36px;
    text-align: center;
    font-size: 2em
}
.form-control.perso{
    border: 1px solid;
}
#contact_message{
    height:241px;
}
.carte{
    height:300px;
}
.erreur{
    margin-top: 25px;
}
.footer{
    margin-top:50px;
}


.div_btn_filtrage {
    display: none;
    margin-top: 6px;
}
/*modif des titres en blanc pour visibilité
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}*/
/*
.feedback-img-info h5 {
    color: white;
}*/

/*mise en forme jumbotron*/
.container-fluid .jumbotron {
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    text-align: center;
}
#googleMap iframe{
    max-width:250px;
    height:250px;
}

.wthree_head_section p{
    font-size:30px;
                      
}























/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2018, 15:34:20
    Author     : Etudiant
*/
.thumbnail{
    min-height:160px;
}
#formcache
{
    display:none;
    
}
@media (max-width: 991px){
.navbar-nav > li {
    margin: 0 1.3em;
}
}

.feedback-top{
    background-color: rgba(8, 90, 242, 0.65);
    position: ;
}

.feedback-top:after{
    border-top: 9px solid rgba(8, 90, 242, 0.65);
}

#actions{
    width: 18% !important;
}

.logo_fff{
    width:10%;
}

.feedback-img-info{
    width: 100%;
    float: none;
}

.index_admin{
        color: #99bc59;
        font-size: 4em;
}
.fleche_bas{
    font-size:4em;
    color:white;
}
/* blocs page accueil inscrivez-vous*/
.clr1,.clr2,.clr3 {
    min-height: 400px;
    max-height: 450px;
}

.liste{
    list-style: none;
    color: white;
}
.lien_accueil{
    color: #a8f644;
}
.lien_accueil:hover{
    color:white;
}
.banner-text h2{
    margin-top: -120px;
}
.alert{
    font-size: 1em;
}
.bouton{
    margin-top: 25px;
}
h1{
    font-size: 22px;
}
legend{
    font-size: 18px;
    color : dodgerblue;
}

.hauteur_min{
    min-height: 500px;
    margin:0;
}   

.carte{
    height:300px;
}
.erreur{
    margin-top: 25px;
}
.footer{
    margin-top:50px;
}




/*-----Partie rencontres calendrier par équipe route provisoire "@/rencontres"" --------------*/

@media (min-width: 996px){
.creer_saison{
    margin-left: 18em;
}
}

/*-----Partie rencontres calendrierpar équipe route provisoire "@/rencontres"" --------------*/


/* Léger décalage bouton d'affichage victoires nuls défaites */
.resultat_rencontres_btn {
    margin-left: 15px;
}


/* div cachant les boutons */
.div_btn_filtrage {
    display: none;
    margin-top: 6px;
}

/* Pour cacher et faire apparaître les boutons */
.cacher {
    display: none;
}


/* ------------Surcharge footer--------------------*/

.hauteur_min {
    min-height: 300px;
}

.footer{
    background: url("../images/herbe-verte-artificielle.jpg");
}


.blocOpaque { /* Astuce de création d'un bloc à 60% opaque à l'image de fond */
  height:100%;
  background-color:rgba(0,0,255,0.10);
}

.w3layouts_footer_grid h2 span, .w3layouts_footer_grid h3 span{
        color: #1dd1a1;
        font-weight: bold;
}

.w3layouts_footer_grid p {
        color: #fff;
        font-size: 1.1em;
        font-weight: bold;
}
ul.con_inner_text li,ul.con_inner_text li label, ul.con_inner_text li a{
    color: #fff;
}

#inputmail::placeholder {
  color:#c8d6e5;
}

.f-bg-w3l {
    background: #747d8c;
    padding: 5em 0;
}

.hauteur_min {
    min-height: 500px;
    background: #fff;
}
 
/* Fin surcharge footer */

@media (max-width: 480px){
.agileits-logo h1 {
    font-size: 2.3em;
    margin-bottom: 15px;
}
.agileits-logo h1 a {
    padding:.5em;
}
.bouton_club{
    margin-left: 35px;
}
h3{
    font-size: 1.3em;
}
}



/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2018, 15:34:20
    Author     : Etudiant
*/

.liste{
    list-style: none;
    color: white;
}
.lien_accueil{
    color: #a8f644;
}
.lien_accueil:hover{
    color:white;
}
.banner-text h2{
    margin-top: -120px;
}
.alert{
    font-size: 1em;
}
.bouton{
    margin-top: 25px;
}
h1{
    font-size: 22px;
}
legend{
    font-size: 18px;
    color : dodgerblue;
}

.nom_club{
    color: white;
}
.btn-info{
    margin-top: -23px;
    border-color: white;
    background-color: #11162759;
}
.banner-text.agileinfo{
    padding: 15em 0;
}
.hauteur_min{
    min-height: 500px;
}
.utilisateur{
    color:white;
}
.connecte{
    color:white;
}
.navbar-inverse{
    margin-bottom: 0;
}
.header{
    padding: 5em 0 5em;
}
.header-nav ul.nav.navbar-nav{
    margin-top: 2em;
}
.titre{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:black;
}
.form-control.perso{
    border: 1px solid;
}
.nom-equipe{
    color: black;
}
.nom-entraineur{
    margin-bottom: 10px;
}
#contact_message{
    height:241px;
}
.carte{
    height:300px;
}
.erreur{
    margin-top: 25px;
}
.error{
    color:red;
    float: left;
}
.footer{
    margin-top:50px;
}



/* Léger décalage bouton d'affichage victoires nuls défaites */
.resultat_rencontres_btn {
    margin-left: 15px;
}

.div_btn_filtrage {
    display: none;
    margin-top: 6px;
}
/*modif des titres en blanc pour visibilité*/
h1, h2, h3, h4, h6 {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
   
}


.feedback-img-info h5 {
    color: white;
    margin-left: 3em;
}

/*mise en forme jumbotron*/
.container-fluid .jumbotron {
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    text-align: center;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2018, 15:34:20
    Author     : Etudiant
*/
@media (max-width: 991px){
.navbar-nav > li {
    margin: 0 1.3em;
}
}

.logo_fff{
    width:10%;
}
.feedback-img-info p.domicile{
    color:blue;
}

.feedback-img-info p{
    color:red;
}
.agileits-feedback-grids{
     background: rgba(153, 188, 89, 0.24);
     border-radius: 10px;
}
.index_admin{
        color: #99bc59;
        font-size: 4em;
}
.fleche_bas{
    font-size:4em;
    color:white;
}
.clr2{
    min-height: 308px;
}
.clr3{
    max-height: 308px;
}
.liste{
    list-style: none;
    color: white;
}
.lien_accueil{
    color: #a8f644;
}
.lien_accueil:hover{
    color:white;
}
.banner-text h2{
    margin-top: -120px;
}
.alert{
    font-size: 1em;
}
.bouton{
    margin-top: 25px;
}
h1{
    font-size: 22px;
}
legend{
    font-size: 18px;
    color : dodgerblue;
}


.nom_club{
    color: white;
}
.btn-info{

    margin-top: -23px;
    border-color: white;
    background-color: #11162759;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2018, 15:34:20
    Author     : Etudiant
*/
@media (max-width: 991px){
.navbar-nav > li {
    margin: 0 1.3em;
}
}

.feedback-top{
    background: #4c5056;
    
}

.feedback-top:after{
    border-top: 9px solid ;
}

#actions{
    width: 18% !important;
}

.logo_fff{
    width:10%;
}
.feedback-info{
    margin: 1em !important;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 8px black;
  
}

.agileits-feedback-grids{
     background: rgba(17, 18, 16, 0.13);
     border-radius: 10px;
}
.index_admin{
        color: #99bc59;
        font-size: 4em;
}
.fleche_bas{
    font-size:4em;
    color:white;
}
/* blocs page accueil inscrivez-vous*/
.clr1,.clr2,.clr3 {
    min-height: 400px;
    max-height: 450px;
}

.liste{
    list-style: none;
    color: white;
}
.lien_accueil{
    color: #a8f644;
}
.lien_accueil:hover{
    color:white;
}
.banner-text h2{
    margin-top: -120px;
}
.alert{
    font-size: 1em;
}
.bouton{
    margin-top: 25px;
}
h1{
    font-size: 22px;
}
legend{
    font-size: 18px;
    color : dodgerblue;
}

.hauteur_min{
    min-height: 500px;
    margin:0;
}   

.carte{
    height:300px;
}
.erreur{
    margin-top: 25px;
}
.footer{
    margin-top:50px;
}






@media (min-width: 996px){
.creer_saison{
    margin-left: 18em;
}
}

/*-----Partie rencontres calendrier par équipe route provisoire "@/rencontres/fiche --------------*/



/* div cachant les boutons */
.div_btn_filtrage {
    display: none;
    margin-top: 6px;
}

/* Pour cacher et faire apparaître les boutons */
.cacher {
    display: none;
}


/* ------------Surcharge footer--------------------*/

.hauteur_min {
    min-height: 300px;
}

.footer{
    background: #747d8c;
}


.blocOpaque { /* Astuce de création d'un bloc à 60% opaque à l'image de fond */
  height:100%;
  background-color:rgba(0,0,255,0.10);
}

.w3layouts_footer_grid h2 span, .w3layouts_footer_grid h3 span{
        color: #1dd1a1;
        font-weight: bold;
}

.w3layouts_footer_grid p {
        color: #fff;
        font-size: 1.1em;
        font-weight: bold;
}
ul.con_inner_text li,ul.con_inner_text li label, ul.con_inner_text li a{
    color: #fff;
}

#inputmail::placeholder {
  color:#c8d6e5;
}

.f-bg-w3l {
    background: #747d8c;
    padding: 5em;
}

.hauteur_min {
    min-height: 500px;
    background: #fff;
}
 
/* Fin surcharge footer */

@media (max-width: 480px){
.agileits-logo h1 {
    font-size: 2.3em;
    margin-bottom: 15px;
}
.agileits-logo h1 a {
    padding:.5em;
}
.bouton_club{
    margin-left: 35px;
}
h3{
    font-size: 1.3em;
}
}



/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2018, 15:34:20
    Author     : Etudiant
*/

.liste{
    list-style: none;
    color: white;
}
.lien_accueil{
    color: #a8f644;
}
.lien_accueil:hover{
    color:white;
}
.banner-text h2{
    margin-top: -120px;
}
.alert{
    font-size: 1em;
}
.bouton{
    margin-top: 25px;
}
h1{
    font-size: 22px;
}
legend{
    font-size: 18px;
    color : dodgerblue;
}

.nom_club{
    color: white;
}
.btn-info{
    margin-top: -23px;
    border-color: white;
    background-color: #11162759;
}
.banner-text.agileinfo{
    padding: 15em 0;
}
.hauteur_min{
    min-height: 500px;
}
.utilisateur{
    color:white;
}
.connecte{
    color:white;
}
.navbar-inverse{
    margin-bottom: 0;
}
.header{
    padding: 5em 0 5em;
}
.header-nav ul.nav.navbar-nav{
    margin-top: 2em;
}
.titre{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.form-control.perso{
    border: 1px solid;
}
#contact_message{
    height:241px;
}
.carte{
    height:300px;
}
.erreur{
    margin-top: 25px;
}
.footer{
    margin-top:50px;
}


.div_btn_filtrage {
    display: none;
    margin-top: 6px;
}
/*modif des titres en blanc pour visibilité*/
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

/*mise en forme jumbotron*/
.container-fluid .jumbotron {
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    text-align: center;
}
#googleMap iframe{
    max-width:250px;
    height:250px;
}

.wthree_head_section p{
    font-size:30px;
                      
}


